* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myfont;
  src: url(Optien.ttf);
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4d784e;
  color: #e1d798;
  text-align: center;
}

section {
  padding: 10px 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

p {
  font-size: 20px;
  font-family: myfont;
}

.login-container {
  max-width: 300px;
  background: #e1d798;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.input-field,
.submit-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
}

.submit-button {
  background-color: #675645;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #4e3c2b;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #333; /* Change this to something visible */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  h1 {
      font-size: 30px;
  }

  p, label {
      font-size: 18px;
  }

  .input-field,
  .submit-button {
      font-size: 18px;
      padding: 8px;
  }
}
