* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myfont;
  src: url(Optien.ttf);
}

html,
body {
  height: 100%;
  background-color: #5e631f;
  color: #e1d798;
}

section {
  padding: 10px 0;
}

h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
  color: #333;
}



/*Troop list and map styling*/
.container {
  display: flex;
  height: 80vh;
  overflow: hidden;
}

.troop-list {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  padding: 0 20px;
  background-color: #4c4f1a;
  position: relative;
}

.troop-map {
  width: 70%;
  height: 100%;
  position: relative;
}

#map { 
  height: 100%; 
  width: 100%; 
}

#troop-data {
  width: 100%;
  border-collapse: separate;
  color: #e1d798;
}

#troop-data td {
  padding: 8px 12px;
  border: 1px solid #ddd;
}

#troop-data thead {
  background-color: #444;
  color: #fff;
}

#troop-data tr:nth-child(even) {
  background-color: #333;
}

#troop-data th {
  position: sticky;
  top: 0;
  background-color: #4c4f1a;
  z-index: 2;
  padding: 12px;
  font-size: 24px;
  border: 2px solid #ddd;
  text-align: left;
}
